/* React Grid Layout Base Styles */
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-layout > div {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}

/* React Resizable Base Styles */
.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgNiA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiM5Q0EzQUYiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0ibTYgNi0xLjQxNC0xLjQxNEw0LjE3MiA2SDZ6bS02IDBMMCA0LjE3MmwxLjQxNC0xLjQxNEw0LjE3MiA0LjE3Mkw2IDZIMHoiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-size: 20px 20px;
  cursor: se-resize;
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
}

.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
}

.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
}

.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}

.react-resizable-handle-w {
  left: 0;
}

.react-resizable-handle-e {
  right: 0;
}

.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}

.react-resizable-handle-n {
  top: 0;
}

.react-resizable-handle-s {
  bottom: 0;
}

/* React Grid Layout Customization */
.react-grid-layout {
  position: relative;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}

.react-grid-item.cssTransforms {
  transition-property: transform, width, height;
}

.react-grid-item.resizing {
  transition: none;
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(16, 185, 129, 0.2);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
}

.react-grid-item > .react-resizable-handle:hover {
  background-color: rgba(16, 185, 129, 0.3);
}

/* Ensure menu buttons work properly in grid items */
.react-grid-item .menu-container {
  position: relative;
  z-index: 1000;
}

.react-grid-item .menu-container button {
  pointer-events: auto !important;
}

.react-grid-item .menu-container > div {
  pointer-events: auto !important;
}

/* Prevent drag on menu elements */
.menu-container,
.menu-container * {
  user-select: none;
  -webkit-user-drag: none;
}
